.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nickName {
  color: var(--purple1);
  font-weight: 600;
}

.btnContainer {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 8px 15px 8px 15px;
  border: 1px solid var(--purple2);
  color: var(--purple1);
  border-radius: 100px;
  background-color: white;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}
