.outerContainer {
display: flex;
align-items: center;
justify-content: space-between;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.rank {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 5px 0px;
  /* font-family: Pre; */
  font-size: 12px;
  margin-right: 24px;
  background: var(--purple2);
  .text {
    /* color: white; */
  }
}

.nickname {
}

.count {
  color: var(--gray2)
}
