.outerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple4);
  padding: 15px 21px;
}

.innerContainer {
  width: 90%;
  height: 100%;
  padding: 23px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--purple3);
  background: white;
}